{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "import/no-anonymous-default-export": [2, { "allowArrowFunction": true }],
    "prettier/prettier": ["error"]
  }
}
