# Dependencies
node_modules

# Client
client/.pnp
client/.pnp.js
client/build
!client/.env

# Server
server/*.pdf
server/pdfs/*
server/db/.migrate

# Misc.
docs
Dockerrun.aws.json
audit-report.*
.DS_Store
/.env
test-results
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
.eslintcache
key
