*.md

# dependencies
/node_modules
/.pnp
.pnp.js
coverage

# production
/build
/dist
build
dist

# misc
.DS_Store
*.pem
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*