{
  "extends": "airbnb-base",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "import/no-anonymous-default-export": [2, {"allowArrowFunction": true}]
  }
}
