{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["jest", "prettier"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "ignorePatterns": ["node_modules/", "dist/", "coverage/", "build/"]
}
