# Build and Deploy to dev env.
# Trigger with tag dev
# Connected with repo environment 'dev'
name: OpenShift Build and Deploy to Dev with OWSAP ZAP SCAN

on:
  push:
    tags:
      - dev

env:
  CLUSTER: https://api.silver.devops.gov.bc.ca:6443
  AUTH_TOKEN: ${{ secrets.AUTH_TOKEN_OCP4 }}
  PROJECT: hcap
  HEALTH_CHECK_URL: https://hcap-server-f047a2-dev.apps.silver.devops.gov.bc.ca/api/v1/version
  DEV_URL: https://hcapemployers.dev.freshworks.club

jobs:
  audit:
    name: Run NPM Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: NPM Audit
        run: |
          cd "$GITHUB_WORKSPACE/client" && npm audit --production
          cd "$GITHUB_WORKSPACE/server" && npm audit --production
          cd "$GITHUB_WORKSPACE"

  build:
    name: OpenShift Build & Deploy
    runs-on: ubuntu-latest
    needs: audit
    environment:
      name: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: 'dev'
          fetch-depth: 0

      - name: Cache OpenShift CLI
        id: cache-oc
        uses: actions/cache@v2
        with:
          path: /usr/local/bin/oc
          key: ${{ runner.os }}-oc

      - name: Install OpenShift CLI
        if: steps.cache-oc.outputs.cache-hit != 'true'
        run: |
          OC_VERSION=3.11.0
          sudo apt-get update
          sudo apt-get -y install wget
          wget --quiet -O oc.tar.gz "https://github.com/openshift/origin/releases/download/v${OC_VERSION}/openshift-origin-client-tools-v${OC_VERSION}-0cbc58b-linux-64bit.tar.gz"
          FILE=$(tar -tf oc.tar.gz | grep '/oc$')
          tar -zxf oc.tar.gz "$FILE"
          sudo mv "$FILE" /usr/local/bin/oc
          rm -rf oc.tar.gz openshift-origin-client-tools-v*

      - name: Build & Deploy
        run: |
          cd "$GITHUB_WORKSPACE"
          oc login --token="$AUTH_TOKEN" --server="$CLUSTER"
          make print-status
          make server-build
          make server-deploy
      - name: Health Check app
        uses: jtalk/url-health-check-action@v1.5
        with:
          # Check the following URLs one by one sequentially
          url: '${{ env.HEALTH_CHECK_URL }}'
          # Follow redirects, or just report success on 3xx status codes
          follow-redirect: no # Optional, defaults to "no"
          # Fail this action after this many failed attempts
          max-attempts: 3 # Optional, defaults to 1
          # Delay between retries
          retry-delay: 30s # Optional, only applicable to max-attempts > 1
          # Retry all errors, including 404
          retry-all: no # Optional, defaults to "no"
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.2.0
        with:
          target: ${{ env.DEV_URL }}
          cmd_options: '-I'
