name: OpenShift Build

on:
  push:
    tags:
      - dev
      - test
      - prod

env:
  CLUSTER: https://console.pathfinder.gov.bc.ca:8443
  AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
  PROJECT: hcap
  NAMESPACE: rupaog-dev

jobs:
  build:
    name: Trigger OpenShift Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Extract Tag, Set OpenShift Namespace Suffix
        run: |
          echo ::set-env name=OS_NAMESPACE_SUFFIX::${GITHUB_REF#refs/*/}

      - name: Install OpenShift CLI
        run: |
          OC_VERSION=3.11.0
          sudo apt-get update
          sudo apt-get -y install wget
          wget --quiet -O oc.tar.gz "https://github.com/openshift/origin/releases/download/v${OC_VERSION}/openshift-origin-client-tools-v${OC_VERSION}-0cbc58b-linux-64bit.tar.gz"
          FILE=$(tar -tf oc.tar.gz | grep '/oc$')
          tar -zxf oc.tar.gz "$FILE"
          sudo mv "$FILE" /usr/local/bin/oc
          rm -rf oc.tar.gz openshift-origin-client-tools-v*

      - name: Trigger Build
        run: |
          cd "$GITHUB_WORKSPACE"
          oc login "$CLUSTER" --token="$AUTH_TOKEN"
          export OS_NAMESPACE_SUFFIX=${{ env.OS_NAMESPACE_SUFFIX }}
          make server-build
