name: Check format of code base
# on:
#   pull_request:
#     types: [opened, synchronize]

jobs:
  premerge:
    name: format-check
    runs-on: ubuntu-20.04
    concurrency: ci-format
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '15'

      - name: install dev dependencies
        run: npm i -D && npm i -D --prefix client && npm i -D --prefix server

      - name: run format checking scripts
        run: npm run check-format
