name: PRs reviews reminder

on:
  schedule:
    # Every weekday every 4 hours during working hours, send notification
    - cron: '0 15,22 * * 1-5' # Github actions works only on UTC, cannot explicitly set the TZ as PST, so we add 7 hours. Reminders at 8AM and 3PM PST

jobs:
  pr-reviews-reminder:
    runs-on: ubuntu-latest
    steps:
      - uses: davideviolante/pr-reviews-reminder-action@185497b8b792b7f7c04e1263388a36873ed73f97 #v1.5.1 #secure code reviewed for this version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          webhook-url: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
          provider: msteams
          github-provider-map: 'fw-noel:Noel Feliciano,taraepp:Tara Epp,arranfw:Arran Woodruff,alva-fresh:8:Alva Kostrova'
