name: Test application (e2e)

on:
  push:
    tags:
      - cypress

  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Cypress / Jest
    runs-on: ubuntu-16.04
    environment:
      name: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Make env
        run: |
          cat > .env << EOF
          ${{ secrets.ENVFILE }}
          EOF
      - name: Build Locally
        run: make local-kc-build

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          start: make local-kc-run
          wait-on-timeout: 120
          wait-on: 'http://localhost:4000'

      - name: Run
        run: make local-kc-run
      - name: Sleep for 30 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '30s'

      - name: Jest run
        run: make local-server-tests
