name: Test application (e2e)

on:
  push:
    tags:
      - cypress

  pull_request:
    branches:
      - master
env:
  KEYCLOAK_LOCAL_USERNAME: 'test-admin'
  KEYCLOAK_LOCAL_PASSWORD: ${{ secrets.KEYCLOAK_LOCAL_PASSWORD}}
  KEYCLOAK_LOCAL_AUTH_URL: 'http://keycloak.local.freshworks.club:8080/auth'
  KEYCLOAK_LOCAL_SECRET: ${{ secrets.KEYCLOAK_LOCAL_SECRET }}
  APP_ENV: local
jobs:
  tests:
    name: Cypress / Jest
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Make env
        run: |
          cat > .env << EOF
          ${{ secrets.ENVFILE }}
          KEYCLOAK_LOCAL_SECRET=${{ secrets.KEYCLOAK_LOCAL_SECRET }}
          EOF

      - name: Build Locally
        run: make local-kc-run

      - name: Import Users
        run: make kc-import-users

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install Dotenv
        run: cd server && sudo npm install --no-cache dotenv

      - name: Add Sites
        run: cd server && POSTGRES_HOST=localhost npm run feed-sites sites.xlsx

      - name: Add Participants
        run: cd server && POSTGRES_HOST=localhost npm run feed-participants participants.xlsx

      - name: Reset PSQL
        run: export POSTGRES_HOST=postgres

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          wait-on-timeout: 120
          wait-on: 'http://localhost:4000'

      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash

      - name: Jest run
        run: make local-server-tests
