name: Test application (e2e)

on:
  push:
    tags:
      - cypress

  pull_request:
    branches:
      - master
env:
  KEYCLOAK_LOCAL_USERNAME: 'test-admin'
  KEYCLOAK_LOCAL_PASSWORD: ${{ secrets.KEYCLOAK_LOCAL_PASSWORD}}
  KEYCLOAK_LOCAL_AUTH_URL: 'http://keycloak.local.freshworks.club:8080/auth'
  KEYCLOAK_LOCAL_SECRET: ${{ secrets.KEYCLOAK_LOCAL_SECRET }}
  POSTGRES_HOST: 'postgres'
  POSTGRES_PORT: '5433'
  POSTGRES_DB: 'db_dev'
  POSTGRES_USER: 'admin'
  POSTGRES_PASSWORD: 'freshworks'
  APP_ENV: local
jobs:
  tests:
    name: Cypress / Jest
    runs-on: ubuntu-20.04
    concurrency: ci-test
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Copy sample site and participant to exact location
        run: make copy-sample-data

      - name: Make env
        run: |
          cat > .env << EOF
          ${{ secrets.ENVFILE }}
          KEYCLOAK_LOCAL_SECRET=${{ secrets.KEYCLOAK_LOCAL_SECRET }}
          EOF

      - name: Pull images
        run: make ci-docker-pull

      - uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true

      - name: Build Locally
        run: make local-kc-run

      - name: Import Users
        run: make kc-import-users

      - name: Add Sites
        run: cd server && POSTGRES_HOST=localhost npm run feed-sites sites.xlsx

      - name: Add Participants
        run: cd server && POSTGRES_HOST=localhost npm run feed-participants participants.xlsx

      - name: Sleep until server is up
        run: |
          until $(curl --output /dev/null --silent --fail http://localhost:4000); do
              echo '.'
              ((c++)) && ((c==12)) && c=0 && break # don't run more than 12 times
              sleep 5
          done

      - name: Add Test Data
        run: cd server && POSTGRES_HOST=localhost npm run feed-data

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          wait-on-timeout: 120
          wait-on: 'http://localhost:4000'

      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash

      - name: Jest run
        run: make local-server-tests
